.article-container{
    max-width: 760px;
    margin: auto;
    position: relative;
}

.author-and-date{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // font-size: 12px;
    // padding: 0 1rem;
    // box-shadow: 2px 1px 1px rgb(228, 225, 225);

    // background: rgb(156, 152, 152);
}

.author {
    text-decoration: underline;
    cursor: pointer;
}

.loading-container{
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-container ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: black;
}

.button{
    &.is-rounded {
        border-radius: 290486px
    }
}

.button-fix{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.social-media{
    display: flex;
    align-items: baseline;
    justify-content: flex-end;

    &__text {
        font-size: 10px;
    }

    &__item{
        color: hsl(0, 0%, 48%);
    }
}

.body {
    text-align: justify;
}

.social-media-and-tags{
    display: flex;
    justify-content: space-between;
}