.article-container{
    max-width: 760px;
    margin: auto;
}

.author-and-date{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // font-size: 12px;
    // padding: 0 1rem;
    // box-shadow: 2px 1px 1px rgb(228, 225, 225);

    // background: rgb(156, 152, 152);
}

.author {
    text-decoration: underline;
    // color: darkblue; 
    cursor: pointer;
    // color: cornflowerblue; 
}

.loading-container{
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
}