<mat-card class="sign-up-page-mat-card">
    <h1>Sign Up</h1>
    <form [formGroup]="form" (ngSubmit)="signUp()" class="sign-up-page-container">
        <mat-form-field>
            <input matInput placeholder="Enter your name" formControlName="name" required>
            <!-- <mat-error *ngIf="form.get('name').invalid && form.get('name').touched">{{getErrorMessageForName()}}</mat-error> -->
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Enter your email" formControlName="email" required>
            <mat-error *ngIf="form.get('email').invalid && form.get('email').touched">{{getErrorMessageForEmail()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Enter your password" formControlName="password" type="password">
            <mat-error *ngIf="form.get('password').invalid && form.get('password').touched">{{getErrorMessageForPassword()}}</mat-error>
        </mat-form-field>

        <button type="submit" [disabled]="form.invalid || submitted" class="button is-primary m-b-md" >Sign Up</button>   
        <button type="button" (click)="signInWithGoogle()" class="button is-danger">
            <span class="icon"><i class="fab fa-google"></i></span>
              <span>Sign In With Google</span>
        </button>      
        
    </form>
    
</mat-card>
