<ng-container *ngIf="!loading; else loadingRef">
    <div class="user-container">
        <div *ngIf="user" class="m-b-md">
            <div class="stats">
                <figure *ngIf="user.photoURL" class="image is-64x64 m-r-lg">
                    <img src={{user.photoURL}} alt="Image">
                </figure>
                <div *ngIf="size" class="stats-item-container has-text-weight-light">
                    <div class="stats-number">{{size}}</div>
                    <div class="stats-text">size</div>
                </div>
    
            </div>
            <h1 class="is-size-5" *ngIf="user.displayName">{{user.displayName}}</h1>
            <h1 class="is-size-6 has-text-grey-light" *ngIf="user.email">{{user.email}}</h1>
        </div>
        
        <mat-divider></mat-divider>
        
        <div class="container is-fullhd m-t-md" *ngFor="let article of articles">
            <div class="notification">
                <p class="date has-text-grey">{{article.date | date:"hh:mm  dd-MM-yyy"}}</p>
                <strong>{{article.title}}</strong>
                <p>{{article.body | transformHtml:200:true}}</p>
                <div class="action">
                    <a [routerLink]="['/articles', article.id]" class="is-link has-text-link open">Open</a>
                    <div class="edit-delete-icon">
                        <a *ngIf="user.uid === currentUid" (click)="edit(user.uid, article.id)" class="level-item m-r-md" aria-label="reply">
                            <span class="icon is-small">
                                <i class="fas fa-edit"></i>
                            </span>
                        </a>
                        <a *ngIf="user.uid === currentUid" (click)="delete(user.uid, article.id)" class="level-item" aria-label="retweet">
                            <span class="icon is-small">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-container>

<ng-template #loadingRef>
    <div class="loading-container">
        <mat-spinner [diameter]="30"></mat-spinner>
    </div>
</ng-template>