<mat-card class="create-article-container">
    <h1>Create Article</h1>

    <!-- {{user$ | async | json}} -->

    <form [formGroup]="form" (ngSubmit)="createArticle()" class="form-container">
        <mat-form-field>
            <input matInput placeholder="Enter your title" formControlName="title" required>
            <!-- <mat-error *ngIf="form.get('title').invalid && form.get('title').touched">{{getErrorMessageForTitle()}}</mat-error> -->
        </mat-form-field>
        
        <div class="quill">
            <quill-editor [style]="{'height':'320px'}" formControlName="body"></quill-editor>

        </div>

        <button type="submit" mat-raised-button color="primary" >Create</button>        
    </form>
</mat-card>

