.edit-article-container {
  max-width: 860px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto auto;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
