<mat-card class="sign-in-page-mat-card">
    <h1>Sign In</h1>
    <!-- <h2 class="danger" *ngIf="message">{{message}}</h2> -->
    <!-- <div class="danger" *ngIf="auth.error$ | async as error">{{error}}</div> -->
    <form [formGroup]="form" (ngSubmit)="signIn()" class="sign-in-page-container">
        <mat-form-field>
            <input matInput placeholder="Enter your email" formControlName="email" required>
            <mat-error *ngIf="form.get('email').invalid && form.get('email').touched">{{getErrorMessageForEmail()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Enter your password" formControlName="password" type="password">
            <mat-error *ngIf="form.get('password').invalid && form.get('password').touched">{{getErrorMessageForPassword()}}</mat-error>
        </mat-form-field>

        <button type="submit" [disabled]="form.invalid || submitted" class="button is-primary m-b-md">Sign In</button>        
        <button type="button" (click)="signInWithGoogle()" class="button is-danger">
            <span class="icon"><i class="fab fa-google"></i></span>
              <span>Sign In With Google</span>
        </button>
    </form>
</mat-card>
