.articles-container{
    max-width: 860px;
    margin: auto auto;
}
.articles-container2{
    max-width: 960px;
    margin: auto auto;
}

.article{
    // border: 1px solid black;
    border-radius: 4px;
    margin: 2rem 0rem;
    padding: 1rem;

    box-shadow: 10px 5px 5px gray;
}

// .button{
//     text-align: end;
// }

.loading-container{
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-container ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: black;
}


.author {
    text-decoration: underline;
    cursor: pointer;
}

.social-media{
    display: flex;
    align-items: baseline;

    &__text {
        font-size: 10px;

    }

    &__item{
        color: hsl(0, 0%, 48%);
    }
}

.social-media-and-tags{
    display: flex;
    justify-content: space-between;
}